.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.bienvenida{
    font-size: 30px;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3em;
}
.botones button {
    font-size: large;
    width: 30%;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: solid 2px white;
}
.botones button:hover {
    background-color: #258bf8;
    border: solid 2px black;
}