.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0F0F0F;
}

h1{
    color: #FFFFFF;
} 

input{
    background-color: #0F0F0F;
    border: 2px solid #222222;
    border-radius: 100px;
    color: #F1F1F1;
    font-size: 16px;
    padding: 0px 15px;
}

label{
    color: #F1F1F1;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    width: 80%;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    min-height: 60vh;
}
.FormField{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.FormField label{
    margin: 8px 0;
}
.FormField input{
    height: 2em;
    margin: 0 0 12px 0;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3em;
}
.botones button {
    font-size: large;
    width: 30%;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: solid 2px white;
}
.botones button:hover {
    background-color: #258bf8;
    border: solid 2px black;
}

.FormRow {
    display: flex; /* Pone los elementos en una fila */
    gap: 50px; /* Espacio entre los campos, puedes ajustarlo según lo prefieras */
  }
  
  .FormField {
    flex: 1; /* Hace que los campos se ajusten al tamaño disponible de manera uniforme */
    display: flex;
    flex-direction: column;
  }
  
 
  